*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	background-color: #ffffff;
}
.row {
	margin:0;
}
.my-wrap{
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
/*-------------------------HEADER--------------------------------*/
.navbar{
	padding-top:13px;
	color:#707070;
	margin-bottom: 10px;
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: rgb(255, 255, 255);
}
.navbar-nav>li>a.btn {
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	padding: 10px 25px;
	border: 1px solid #a9a9a9;
	color:#707070;
}
a.btn {
	border: 1px solid #a9a9a9;
}
.slide-cont, div.container-fluid{
	padding: 0;
}
.navbar-nav>li>a.btn:hover, ul.navbar-right a.dropdown-toggle.btn:hover{
	color:#16b4dc;
	  border: 1px solid #16b4dc;
	  background-color: white;
}
ul.navbar-right a.dropdown-toggle.btn {
	margin-right: 10px;
	color:black;
}
.btn .caret {
	margin-left: 10px;
}
ul.navbar-right .dropdown-menu>li>a:focus, ul.navbar-right .dropdown-menu>li>a:hover {
	background-color:white;
	background-image: none;
	color:#16b4dc;
}
.navbar-right .dropdown-menu {
	right: 10px;
	left: 0px;
	border: none;

}
.dropdown-menu {
	top: 94%;
	min-width: 116px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a {
	background: url("../img/flag.png") no-repeat;
	padding-left: 40px;
	padding-right: 10px;
	border: none;
	box-shadow: none;
}
ul.nav.navbar-nav.navbar-right li.dropdown a:active{
	box-shadow: none;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.eng {
	 background-position: 4px 12px;
 }
ul.nav.navbar-nav.navbar-right li.dropdown a.ger {
	background-position: 4px -27px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.span {
	background-position: 4px -53px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.ital {
	background-position: 6px -81px;
	padding-left: 40px;
}
.logo {
	background: url("../img/heart.png") no-repeat 3px 10px;
}
a.logo {
	padding-left: 50px;
	color: black;
	font-weight: 800;
	font-size: 36px;
	font-family: 'OpenSans', sans-serif;
	position: relative;
	margin-right: 50px;
	margin-left: 10px;
}
.logo>span {
	font-size: 9px;
	text-transform: uppercase;
	font-weight: 400;
	color: #72cae6;
	letter-spacing: 1px;
	position: absolute;
	top: 3px;
	right: 9px;
}
ul.nav.navbar-nav.my-custom{
	margin-left: 35px;
}
ul.my-custom li a{
	color:#828282;
	font-size: 18px;
	padding-top: 21px;
}
.no-visible{
	display: none;
}
ul.my-custom li a:hover, a.dropdown-toggle.btn.no-visible.navbar-right:hover{
	color:#16b4dc;
	cursor: pointer;}

.carousel-inner .item{
	max-height: 608px;

}
.carousel-control .glyphicon-menu-left, .carousel-control .icon-prev {
	top: 47%;
	left:25px;
	font-size: 36px;
	position: absolute;
}
.carousel-inner {
	position: relative;
	overflow: hidden;
	max-width: 2000px;
	margin: 0 auto;
}
.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
	top: 47%;
	right: 25px;
	font-size: 36px;
	position: absolute;
}
.carousel-inner .item img{
	max-width:100%;
	margin: 0 auto;

}
a.dropdown-toggle.btn.no-visible.navbar-right {
	padding: 10px 15px;
	cursor: pointer;
	color:#828282;
}
ul.dropdown-menu.menu {
	top: 39px;
	right: -2px;
	text-align: center;
}
ul.nav.navbar-nav.navbar-right {
	padding: 0;
	margin-top: 6px;
}
.carousel-inner .my-wrap{

}

.panel.panel-default.promo{
	position: absolute;
	z-index: 1500;
	background: rgba(0, 0, 0, 0.45);
	color: white;
	border: none;
	border-radius: 0;
}
.panel.panel-default.promo.custom-panel{
	bottom: 0;
	max-width: 66.1290%;

}
.panel.panel-default.promo.panel-form{
	bottom: 0;
	right: 0;
	max-width: 32.2580%;
}
.promo-block {
	float: left;
	background: url("../img/promo-panel.png")no-repeat;
	font-size: 26px;
	font-weight: 600;
	padding: 15px 0 15px 88px;
	margin-bottom: 40px;
	margin-top: 45px;
}
.promo-info {
	display: block;
	font-size: 17px;
	font-weight: 300;
	margin-top: 7px;
}
.promo-account {
	background-position: 19px 2px;
}
.promo-secure {
	background-position: 19px -99px;
	margin-top: 0;
}
.promo-ledies {
	background-position: -400px 6px;


}
.promo-privates {
	background-position: -400px -99px;
	margin-top: 0;

}

.form-group label {
	font-size: 14px;
	text-align: right;
}
footer.form-footer{
	text-align: center;
	font-size: 12px;
	padding: 10px;
}
#my-form h2{
	font-size: 22px;
	text-align: center;
	padding: 20px;
	font-weight: 300;
}

span.glyphicon.fa.fa-facebook {
	margin-right: 10px;
	border-right: 1px solid #464546;
	font-size: 19px;
	display: inline-block;
	position: absolute;
	top: -1px;
	left: 0px;
	padding: 9px;
}
button.btn.btn-primary.center-block.fb {
	position: relative;
	padding-left: 37px;
	margin-bottom: 18px;
}
.right {
	text-align: right;
}
.number {
	/* padding: 0 2px; */
	padding-right: 0px;
}
button.btn.btn-default.center-block.custom-submit {
	background-color: #5f9c10;
	background-image: none;
	border-radius: 0;
	color: white;
	text-shadow: none;
	border: none;
	font-size: 17px;
}
button.btn.btn-default.center-block.custom-submit:hover{
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
}
/*-------------------------HEADER--------------------------------*/
/*-----------Main-----------------------------------------------*/
h3.title-ledies-group {
	font-size: 24px;
	text-align: center;
	color: #959595;
	margin-top: 50px;
	font-weight: 400;
	margin-bottom:40px;
}
span.line-decor {
	width: 183px;
	border-bottom: 1px solid #6a696e;
	display: inline-block;
	margin: 6px 34px;
}
.link-img {
	display: block;
	margin: 0 auto;
	position: relative;
}
/*test*/
.test-block{
	float:left;
	width: 25%;
	margin-left:10px;
}
/**/
.prev-anketa.center-block {
	max-width: 292px;
}
.prev-anketa img{
	max-width: 100%;
}
.online, .v-prof{
	position: absolute;
	right: 0;
	display: block;
	color: white;
	font-size: 18px;
	padding: 3px 7px;
	text-decoration: none;
}
a.online:hover{
	box-shadow:inset 0px 0px 0px 1px #fffdf8;
	text-decoration: none;
	color:white;
}
a.online {
	background-color: #57b711;
	top:0;
	font-family: 'Open Sans', sans-serif;
}
.v-prof {
	bottom: 0;
	padding: 13px 13px 5px 30px;
	background: rgba(0, 0, 0, 0.34) url("../img/profile-btn.png") no-repeat -155px 16px;
	transition: all .2s ease-in-out;
	font-family: 'Open Sans', sans-serif;
}
a.v-prof:hover{
	text-decoration: none;
	color:white;
	padding: 18px 18px 10px 35px;

}
ul.action{
	box-sizing: border-box;
	width: 100%;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
ul.action li{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	width: 33.33%;
	border-right:1px solid #e1e1e1;
	padding: 17px 13px 17px 35px;
	color:#e1e1e1;
	background:url("../img/profile-btn.png") no-repeat;

}
ul.action li a{
	font-size: 14px;
	color:#979797;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
ul.action li:last-child{
	border-right:none;
}
ul.action li.letter{
	background-position: 10px -18px;
}
ul.action li.chat{
	background-position: -86px -20px;

}
ul.action li.video{
	background-position: -173px -19px;
}
h3.my-name {
	font-size: 36px;
	padding: 20px 0 0 7px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
span.ind-online {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: 19px;
	right: 77px;
	background: #57b711;
}
span.y-old {
	padding-left: 7px;
	color: #a5a5a5;
}
/*-----------------girls - end-------------------*/
/*---------------NEWS---------------------------*/
article.news{
	margin-top: 100px;
}
h1.title-news {
	color: #959595;
	font-size: 35px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;
	padding-left:3px;
}
.media .img-circle {
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.media-heading a {
	text-decoration: underline;
	font-size: 13.6px;
	color: #16b4dc;
}
.media-heading {
	margin-top: 0;
	margin-bottom: 13px;
	padding-left: 10px;
}
p.text-news {
	font-size: 13.6px;
	color: #959595;
	line-height: 18px;
	padding-left: 10px;
}
span.date-news {
	font-size: 12px;
	display: block;
	padding-left: 10px;
	margin-top: 10px;
	color: #d9d9d9;
	margin-bottom: 14px;
}
.media-body a.btn{
	margin-left: 10px;
}
.media-body a.btn {
	margin-left: 10px;
	background-color: #57b711;
	color: white;
	border: none;
	font-size: 12.5px;
	transition: all .2s ease-in-out;
}
.media-body a.btn:hover{
	background-color: #16b4dc;
}
.media {
	margin-top: 15px;
	margin-bottom: 40px;
}
p.about-brides {
	font-size: 14px;
	line-height: 24px;
	color: #a0a0a0;
}
p.about-brides  a {
	color: #16b4dc;
}
.panel.panel-default.banner-place {
	margin-top: 30px;
}
.panel-body h1{
	font-size: 34px;
	color: #cfcfcf;
	text-align: center;
}
.panel.panel-default.banner-place {
	background-color: #f2f2f2;
	border-radius: 0;
	border: none;
}
.panel-body h1 {
	font-size: 34px;
	color: #cfcfcf;
	text-align: center;
	margin: 270px 0;
}

/*---------------------------------------------------------------*/
/*------------------FOOTER-----------------------------------------*/
.looking {
	text-align: center;
	background:url('../img/bg-footer.jpg') no-repeat -97px 54px , repeating-linear-gradient(#eee9df, #eee9df 7px, #e5dfd1 7px, #e5dfd1 13px );
	padding-bottom: 75px;
	border-bottom: 5px solid #16b4dc;
	max-width: 2000px;
	margin: 0 auto;
	position: relative;
	z-index: 999;
}
.looking h3 {
	color: #54524c;
	font-size: 48px;
	padding-top: 143px;
	padding-bottom: 15px;
	/*background: #eee9df url('../img/bg-footer.jpg') no-repeat -100px 81px;*/
	z-index: 900;
	position: relative;

}
.looking>p {
	color: #959595;
	font-size: 30px;
	margin-bottom: 40px;
}
.looking a.btn {
	border-radius: 0;
	background-color: #1892b1;
	color: white;
	font-size: 21px;
	padding: 10px 44px;
	transition: all .2s ease-in-out;
}
.looking a.btn:hover{
	transform: Scale(1.1);
}
footer.footer-page{
	background-color: #f1f1f1;
	padding-bottom: 70px;
}
footer a.logo {
	margin-left: 0;
	margin-top: 40px;
	margin-bottom: 27px;
}
.copyr {
	font-size: 12px;
	color: #787878;
	padding-left: 5px;
	clear: both;
	display: block;
}


.soc-btn a.btn {
	margin-top: 15px;
	border: none;
	width: 40px;
	height: 40px;
	color:white;
	border-radius: 0;
	font-size: 20px;
	transition: all .2s ease-in-out;

}
.sc-youtube {
	background-color: #e70031;
}
.sc-facebook {
	background-color: #39599f;
}
.sc-twiter {
	background-color: #45b0e3;
}
.sc-vimeo {
	background-color: #7edde8;
}
.soc-btn a.btn:hover{
	font-size: 25px;
}
.footer-title-gr {
	margin-top: 53px;
	border-left: 1px solid #e6e6e6;
	padding-left: 20px;
}
.footer-title-gr h3 {
	font-size: 18px;
	color: #000000;
	margin-bottom: 30px;
}
.footer-title-gr li {
	display: block;
	font-size: 12px;
	/* color: #979797; */
	margin-bottom: 15px;
}
.footer-title-gr li a{
	color:#979797;
}
ul.footer-title-gr.agency {
	padding-bottom: 72px;
}
ul.footer-title-gr.agency.service {
	padding-bottom: 30px;
}
ul.footer-title-gr.agency li, ul.footer-title-gr.agency.service li {
	padding: 14px 0 15px 46px;
	height: 41px;
	margin-bottom: 0;
}
ul.footer-title-gr.agency li{
	background: url("../img/icon-about.png") no-repeat;
}
ul.footer-title-gr.agency li:first-child, ul.footer-title-gr.agency.service li:first-child{
	padding:0;
	background: none;
}
ul.footer-title-gr.agency li.agancy-mission{
	background-position: 0px 3px;
}
ul.footer-title-gr.agency li.agancy-scam{
	background-position: 0px -35px;
}

ul.footer-title-gr.agency li.agancy-news{
	background-position: 1px -74px;
}

ul.footer-title-gr.agency li.agancy-test{
	background-position: 0px -112px;
}
ul.footer-title-gr.agency li.agancy-girl{
	background-position: 1px -149px;
}
ul.footer-title-gr.agency.service li{
	background: url("../img/icon-service.png") no-repeat;
}
ul.footer-title-gr.agency.service li.servise-our{
	background-position: 0px 4px;
}
ul.footer-title-gr.agency.service li.service-com{
	background-position: 0px -34px;
}
ul.footer-title-gr.agency.service li.service-gift{
	background-position: 0px -71px;
}
ul.footer-title-gr.agency.service li.service-special{
	background-position: 0px -110px;
}
ul.footer-title-gr.agency.service li.service-week{
	background-position: 0px -148px;
}
ul.footer-title-gr.agency.service li.service-trip{
	background-position: 0px -186px;
}

