/*==========  Desktop First Method  ==========*/
@media (min-width:991px) and (max-width:1477px) {
 .panel.panel-default.promo.custom-panel {
  bottom: -17px;
  max-width: 100%;
 }
 .panel.panel-default.promo.panel-form {
  bottom: 148px;
  right: 233px;
  max-width: 55.258%;
 }
 .promo-block {
  background: url("../img/promo-panel.png")no-repeat;
  margin-top: 0;
  font-size: 17px;
  font-weight: 600;
  padding: 15px 0 18px 88px;
  margin: 0;
  margin-right: 42px;
  margin-left: 97px;
  margin-bottom: 0px;
  float: left;
 }
 .promo-account {
  background-position: 19px 2px;
 }
 .promo-secure {
  background-position: 19px -99px;
  margin-top: 0;
 }
 .promo-ledies {
  background-position: -400px 6px;


 }
 .promo-privates {
  background-position: -400px -99px;
  margin-top: 0;

 }
 .looking a.btn {
  font-size: 15px;
  padding: 10px 31px;
 }
 .looking p {
  font-size: 20px;
  margin-bottom: 40px;
 }
 .looking h3 {
  font-size: 38px;
  padding-bottom: 15px;
 }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1056px) {
 .navbar-nav>li {
  float: right;
 }
 ul.nav.navbar-nav.my-custom li{
  float: left;
 }
 .panel-body h1 {
  margin: 80px 0;
 }
 /*
*/
 .navbar-nav > li {
  margin: 0 5px;
  margin-right: 0;
  background-color: transparent;
 }

 ul.my-custom li a:hover {
  background-color: transparent;
 }


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
 .banner-logo {
  display: inline-block;
  position: absolute;
  left: -204px;
  top: 72px;
  width: 54.33%;
 }
 .looking a.btn {
  font-size: 15px;
  padding: 10px 31px;
 }
 .looking p {
  font-size: 20px;
  margin-bottom: 40px;
 }
 .looking h3 {
  font-size: 38px;
  padding-bottom: 15px;
 }
 header .carousel-inner .item, header .carousel-control {
  display: none;
 }

 .panel.panel-default.promo {
  position: relative;
 }

 .slide-cont .carousel-inner {
  background: url("../img/Slide1.jpg") repeat-y 50% 50%;
 }
 .panel.panel-default.promo.panel-form {
  max-width: 100%;
 }

 .panel.panel-default.promo.custom-panel {
  bottom: 0;
  max-width: 100%;
 }

 .promo-block {
  font-size: 17px;
  font-weight: 600;
  padding: 23px 0 15px 88px;
  margin: 0;
 }

 .promo-info {
  font-size: 14px;
 }
 .nav>li>a {
  padding: 10px 10px;
 }
 span.y-old {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
 }
 h3.my-name {
  font-size: 36px;
  padding: 20px 0 0 7px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
 }
 .prev-anketa.center-block {
  max-width: 292px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 35px;
 }

 .panel-body h1 {
  margin: 80px 0;
 }
/*ul.my-custom{
 display: none;
}
 .no-visible {
  display: inline-block;
 }*/
 ul.nav.navbar-nav.navbar-right {
  padding: 0;
  margin-top: 6px;
  float: none;
  width: 100%;
  margin: 0;
 }
 /*----------ARTICLE-PAGE------------*/
 .mini-slider {
  float: none;
  max-width: 100%;
  margin-right:0;
  padding-top: 10px;
  padding-bottom: 135px;
 }
 .mini-slider .carousel-indicators {
  text-align: center;
 }
 .article-news-image {
  max-width: 400px;
  margin: 0 auto;
 }
 .article-media-body h4, .article-media-body p.text-news, .article-media-body span.date-news {
  text-align: center;
 }
 .article-media-body p.text-news {
  text-align: left;
  padding: 0 70px;
 }
 .article-media-body a.btn{
  margin: 10px 0 30px 70px;
 }
 .mini-slider .carousel-inner {
  background: none;
 }
 .mini-slider .carousel-control.right, .mini-slider .carousel-control.left{
   background-image: none;
 }
 .article-page-img {
  width: 33.33%;
 }
}
/* Only for menu */
@media only screen and (max-width : 871px){
 .my-custom{
  display: none;
 }
 .no-visible {
  display: inline-block;
 }
 ul.dropdown-menu.menu {
  z-index: 2000;
 }
 .navbar-nav>li>.dropdown-menu {
  z-index: 2000;
 }
 span.line-decor {
  margin: 6px 10px;
 }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 .looking a.btn {
  font-size: 15px;
  padding: 8px 20px;
 }
 .looking p {
  font-size: 18px;
  margin-bottom: 40px;
 }
 .looking h3 {
  padding-top: 99px;
 }
 .banner-logo {
  display: inline-block;
  position: absolute;
  left: -100px;
  top: 82px;
  width: 45.33%;
 }
 a.btn.right {
  text-align: center;
 }

 .panel-body h1 {
  margin: 80px 0;
 }
 .promo-block {
  float: none;
  width: 272px;
  margin: 0 auto;
 }
 ul.nav.navbar-nav.navbar-right li.dropdown a.eng {

  background-position: 41% 12px;

 }
 ul.nav.navbar-nav.navbar-right li.dropdown a {
  text-align: center;
 }
 ul.nav.navbar-nav.navbar-right li.dropdown a.ger {
  background-position: 32% -27px;
 }
 ul.nav.navbar-nav.navbar-right li.dropdown a.span {
  background-position: 32% -53px;
 }
 ul.nav.navbar-nav.navbar-right li.dropdown a.ital {
  background-position: 32% -81px;
  padding-left: 40px;
 }
 span.line-decor {
  width: 90px;
  margin: 6px 17px;
 }
 span.ind-online {
  right: 47px;
 }
 .center-block {
 }
 h1.title-news {
  text-align: center;
 }
 .panel-body h1 {
  margin: 80px 0;
 }
 .looking h3 {
  padding-top: 99px;
 }

 .navbar-nav>li, li.right {
  float:none;
 }
 .no-visible {
  display: inline-block;
  float: none;
  width: 100%;
 }

 a.dropdown-toggle.btn.no-visible.navbar-right {
  width: 100%;
  margin-bottom: 10px;
  border: none;
 }
 a.dropdown-toggle.btn.no-visible.navbar-right:active, a.dropdown-toggle.btn.no-visible.navbar-right:hover{
  box-shadow: none;
  background-color: white;
 }
 span.glyphicon.glyphicon-menu-hamburger {
  margin-right: 10px;
  margin-top: 10px;
 }
 .col-xs-12 {
  width: 100%;
  text-align: center;
 }
 ul.navbar-right a.dropdown-toggle.btn {
  margin-bottom: 10px;
  margin-right: 0;
  color: black;
 }
 /*---------Article page ---------*/
 .panel-body h1 {
  margin: 80px 0;
 }
 .page-header h1 {
  font-size: 30px;
 }
 .breadcrumb a, .article-media-body p.text-news {
  font-size: 14px;
 }
 .article-media-body h4.media-heading a {
  font-size: 31px;
 }
 .text-wrap {
  font-size: 18px;
 }
 .article-page-aside {
  margin-top: 20px;
 }
 h2.news-head {
  font-size: 34px;
 }
}
@media (min-width: 1200px) {
.no-padding-l {
  padding-left: 0;
 }
 .no-padding-r {
  padding-right: 0;
 }
 .no-padding{
    padding: 0;
 }

}
@media only screen and (max-width : 625px){
 .banner-logo{
  display: none;
 }
}

/*-----ONLY MINI SLIDER-----------*/
@media only screen and (max-width : 506px) {
 .mini-slider {
  padding-bottom: 167px;
 }
 .mini-slider .carousel-indicators {
  position: absolute;
  bottom: -160px;
  left: 50%;
  z-index: 15;
  width: 100%;
  padding: 0 13%;
  margin-left: -50%;
  text-align: center;
  list-style: none;
 }
}
@media only screen and (max-width : 370px) {
 .mini-slider .carousel-indicators {
  padding: 0 1%;
 }
}
/*---------------------------------*/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 #my-form *{
  float:none;
  width: 100%;
  text-align: center;
 }
 span.glyphicon.icon-facebook {
  margin-right: 10px;
  border-right:none;
  font-size: 19px;
  /* display: none; */
  left: -85px;
 }
 input{
  margin: 10px auto;
 }
 .looking h3 {
  font-size: 25px;
 }
 .looking>p {
  font-size: 12px;
 }
 .looking a.btn {
  padding: 9px 25px;
 }
 span.glyphicon.fa.fa-facebook {
 display: none;
 }
 span.line-decor{
  display: none;
 }
 ul.nav.navbar-nav.navbar-right li.dropdown a.eng {

  background-position: 31% 12px;

 }
 /*---------Article page ---------*/

 .page-header h1, .article-media-body h4.media-heading a, h2.news-head{
  font-size: 1em;
 }
 .text-wrap {
  padding-left:0;
  font-size: .8em;
 }
 p.article-news-text {
  margin-bottom: 10px;
 }
 .article-media-body p.text-news {
  padding: 0;
 }
 .article-media-body a.btn {
  margin: 10px 0 60px 0px;
 }
 /*-----------ArticlePage-END-------------*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}