@import "../variables.scss";
.flex-container-my-photo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  @media only screen and(max-width:847px){
    padding: 0 10px;
  }
  @media only screen and(max-width:768px) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .my-photo-flex {
    margin: 0 5px 5px 0;
    max-height: 190px;

    a{
      display: block;
      position: relative;

      span{
        position: absolute;
        right:6px;
        top:6px;
        color:#ffc600;
      }
    }
  }
}


.jq-file__browse {
  display: none;
}
.jq-file__name{
  background-color: $color-blue-font;
  color:white;
  border:none;
  padding: 0;
  @include transition(all .3s ease-in-out);

  &:hover{
    background-color: $color-green;
  }
}

.gallery-my-photo{
  .info-profile{
    margin: 50px 0;
  }
}

