.wrapper_bar li{
    display: block;
    height: 131px;
    width: 346px;
    background-color: #494a4a;
    padding: 15px 0;
    border-bottom: 2px solid #616161;
    font-family: 'Open Sans', sans-serif;
}
.wrapper_bar li:last-child{
    border-bottom: none;
}
.left_column img{
    border: 4px solid #585858;
    outline: solid 1px #5d5d5d;
    width: 59px;
    height: 59px;
    margin-left: 15px;
}
.left_column{
    width: 85px;
    float: left;
}
.right_column{
    width: 231px;
    float: right;
}
.name{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}
.status{
    font-size: 11px;
    color: #969696;
    padding-top: 9px;
}
.comment{
    font-size: 11px;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 13px;
}
.button{
    display: inline-block;
    text-align: center;
    line-height: 17px;
    width: 50px;
    height: 19px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
}
a.button:hover{
    background-color: #16b4dc;
}
.wrapper_bar li:first-child{
    background-color: #494a4a;
}